/*
 * CSS styles for Valhalla.OccupancyView
 */

.occupancy-view .occupancy-header {
  border-bottom: 1px solid #8B8B8B;
  background: -moz-linear-gradient(top, #ffffff, #d9d9d9);
  background: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#d9d9d9));
  background: -o-linear-gradient(top, #ffffff, #d9d9d9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
  /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
  /*Element must have a height (not auto)*/
  /*All filters must be placed together*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9')";
  /*Element must have a height (not auto)*/
  /*All filters must be placed together*/
  background: linear-gradient(top, #ffffff, #d9d9d9);
  /*--IE9 DOES NOT SUPPORT GRADIENT BACKGROUNDS--*/
}
.occupancy-view .occupancy-header .sc-label-view {
  border-left: 1px solid #8B8B8B;
  padding-left: 4px;
  line-height: 20px;
  text-shadow: #FFF 0 1px 0;
  font-size: 95%;
  color: #444;
}

.occupancy-view .occupancy-reservables-container {
  border-top: 1px solid #8B8B8B;
}
.occupancy-view .occupancy-reservables-list {
  border-right: 1px solid #8B8B8B;
}
.occupancy-view .occupancy-reservables-list .sc-collection-item,
.sc-theme .occupancy-view .occupancy-reservables-list .sc-collection-item.odd {
  background-color: #CACACA;
  color: black;
  text-shadow: #F9F9F9 0 1px 0;
}
.occupancy-view .occupancy-reservables-list .sc-collection-item .sc-outline {
  border-bottom: 1px solid #8B8B8B;
}

.occupancy-view .occupancy-grid-view {
  background-color: #fff;
}

.occupancy-view .occupancy-item-view {
  background-color: #eee;
}
.occupancy-view .occupancy-item-view .outline {
  padding: 0 5px;
  border: 1px solid #999;
  height: 22px;
  line-height: 22px;
}

.occupancy-view .occupancy-item-view.ghost {
  opacity: .6;
}

.occupancy-view .occupancy-item-handle-view {
  background-color: #999;
  cursor: col-resize;
}

.occupancy-view .occupancy-item-view.disabled {
  border-color: #FFF;
  color: #ccc;
}
.occupancy-view .occupancy-item-view.disabled .occupancy-item-handle-view {
  cursor: pointer;
}



/*
.his-occupancy {
  color: #000;
  background-color: #fff;
}

.his-occupancy-time {
  position: absolute;
  display: block;
  width: 1px;
  top: 25px;
  bottom: 0;
  background-color: #c00;
  opacity: 0.3;
  z-index: 99;
}

.his-occupancy-header {
  height: 24px;
  border-bottom: 1px solid #ccc;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#E6E6E6));
  font-size: 11px;
}

.his-occupancy-cell {
  display: block;
  height: 24px;
  line-height: 24px;
  border-right: 1px solid #ddd;
  text-align: center;
}

.his-occupancy-header .his-occupancy-cell {
  float: left;
  font-weight: bold;
  color: #666;
}

.his-occupancy-column {
  position: absolute;
  height: 24px;
}

.his-occupancy-column .his-occupancy-lclear {
  clear: left;
}


.his-occupancy-column .his-occupancy-cell {
  z-index: 97;
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #ddd;
}

.his-occupancy-column .his-occupancy-cell:hover {
  background-color: #D9DFE6;
  cursor: pointer;
}
.his-occupancy-column.his-occupancy-column-title:hover {
  background-color: #fff;
  cursor: auto;
}
.his-occupancy-column.his-occupancy-column-title {
  z-index: 100;
}
.his-occupancy-column.his-occupancy-column-title .his-occupancy-cell {
  background-color: #f0f0f0;
  font-weight: bold;
  cursor: auto;
}

.his-occupancy-outage {
  position: absolute;
  z-index: 98;
  overflow: hidden;
  line-height: 22px;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  color: #fff;
  background-color: #C22;
  border: 1px solid #A00;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  text-shadow: #666 0px -1px 0px;
}

.his-occupancy-reservation {
  position: absolute;
  z-index: 98;
  overflow: hidden;
  line-height: 22px;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  color: #fff;
  background-color: #EEE;
  border: 1px solid #333;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  cursor: pointer;
  text-shadow: #666 0px -1px 0px;
}

.his-occupancy-reservation.option {
  background-color: #FFDFC1;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFCFB1), to(#FFA650));
  border: 1px solid #FFA650;
}

.his-occupancy-reservation.occupied {
  background-color: #2370D8;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3380E8), to(#1360C8));
  border: 1px solid #0350B8;
}

.his-occupancy-reservation.guaranteed {
  background-color: #B8D375;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B8D375), to(#98D355));
  border: 1px solid #88C345;
}

.his-occupancy-reservation.past {
  background-color: #555;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#555));
  border: 1px solid #777;
}
*/
